#mapContainer {
  backgroundColor: #ccc;
  flex-grow: 1
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  text-align: center;
  display: inline-flex;
}

.header h3 {
  font-size: 30px;
}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 15px;
}
